<section id="contact">
    <h1 class="title">Contact Me</h1>
    <p>Feel free to reach out via email or social links below.</p>

    <div class="contact-buttons">
        <button class="btn btn-color-1" (click)="sendEmail()">Email Me</button>
        <button class="btn btn-color-2"
            (click)="openLink('https://linkedin.com/')">LinkedIn</button>
        <button class="btn btn-color-2"
            (click)="openLink('https://github.com/')">GitHub</button>
    </div>
</section>
